<head>
  <link href="../assets/stylesheets/top.css" rel="stylesheet">
</head>

<main>
<h2>投稿ページ</h2>

<content>
  <p>こちらでは、皆様の感動や喜び<br>
     あるいは、日常の中で思い浮かんだ些細な出来事や発見など<br>
     皆様の心に残ったことをご自由に投稿してください。<br>
  </p>
  <p>皆様からの応募お待ちしております。</p>
</content>

</main>